#s-495a8bb9-58fc-4943-8566-068e26eff2ff #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-495a8bb9-58fc-4943-8566-068e26eff2ff #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-495a8bb9-58fc-4943-8566-068e26eff2ff #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-495a8bb9-58fc-4943-8566-068e26eff2ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}