#s-4d225cc0-48c8-47dd-9665-a4b913f57657 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_11 {
  position: absolute;
  top: 72px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Arial,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_12 {
  position: absolute;
  top: 164px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_1 {
  position: absolute;
  top: 209px;
  left: 67px;
  width: 157px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_13 {
  position: absolute;
  top: 296px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_2 {
  position: absolute;
  top: 339px;
  left: 67px;
  width: 157px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_3 {
  position: absolute;
  top: 379px;
  left: 67px;
  width: 157px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_4 {
  position: absolute;
  top: 420px;
  left: 67px;
  width: 157px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_5 {
  position: absolute;
  top: 462px;
  left: 67px;
  width: 157px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4d225cc0-48c8-47dd-9665-a4b913f57657 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}