#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50d22f60-21d8-4771-9cea-5cd85d8c2547 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}