#s-7dbeefcc-6cfb-4f86-9a8b-da4949822155 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7dbeefcc-6cfb-4f86-9a8b-da4949822155 #s-Table_1 {
  border-collapse: separate;
}
#s-7dbeefcc-6cfb-4f86-9a8b-da4949822155 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}