#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80f6368e-0e75-4913-a635-7545c4612bcb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}