#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87fdc060-e88a-409c-b3af-7c0ae68f9fa9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}