#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}