#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Table_1 {
  border-collapse: separate;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Table_2 {
  border-collapse: separate;
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c7a5b364-9c60-4326-8821-c7cd941af75c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}