#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Group_1 {
  position: absolute;
  top: 163px;
  left: 67px;
  width: 359px;
  height: 396px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_1 {
  position: absolute;
  top: 0px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_1 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_2 {
  position: absolute;
  top: 38px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_2 {
  position: absolute;
  top: 44px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_3 {
  position: absolute;
  top: 76px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_3 {
  position: absolute;
  top: 82px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_4 {
  position: absolute;
  top: 116px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_4 {
  position: absolute;
  top: 122px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_5 {
  position: absolute;
  top: 156px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_5 {
  position: absolute;
  top: 162px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_6 {
  position: absolute;
  top: 198px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_6 {
  position: absolute;
  top: 204px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_7 {
  position: absolute;
  top: 240px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_7 {
  position: absolute;
  top: 246px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_8 {
  position: absolute;
  top: 281px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_8 {
  position: absolute;
  top: 287px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_9 {
  position: absolute;
  top: 324px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_9 {
  position: absolute;
  top: 330px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_10 {
  position: absolute;
  top: 367px;
  left: 145px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Input_10 .icon {
  top: 6px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_10 {
  position: absolute;
  top: 373px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Button_1 {
  position: absolute;
  top: 581px;
  left: 324px;
  width: 94px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto Regular,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_11 {
  position: absolute;
  top: 72px;
  left: 67px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 20.0pt;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ce9eeb41-f00c-44f8-bb0d-0cca7be87f58 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}