#s-8a61f215-f6c0-4e25-b30f-7c175644deac #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a61f215-f6c0-4e25-b30f-7c175644deac #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a61f215-f6c0-4e25-b30f-7c175644deac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}