.logo{
  width: 45px;
}

.navbar-brand{
  padding: 5 !important;
}

.usuario{
  padding-right: 10;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: transparent;
}

html{
  width: 100%;
  height: 100%;
  background: url(../img/bg2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background-color: transparent;
  color: #fff !important;
}

section{
  padding: 0 13% !important;
}

article{
  background-color: #fff !important;
  opacity: 0.7 !important;
  border-radius: 5px !important;
  padding: 5% !important;
  color: #000 !important;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
    height: auto !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #d2d2d2;
    font-weight: bold;
    font-size: 20px;
}

.navbar-brand{
  height: 80px !important;
}

.navbar-brand img{
  width: 25% !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent !important;
    color: #d2d2d2 !important;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.42857;
    color: #fff;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
  background-color: transparent !important;
  color: #d2d2d2 !important
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #000;
    opacity: 0.7 !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.btnVolverAtras{
  float: right !important;
}

table {
    color: #000;
}

.evento{
  width: 100%;
  float:left;
  position: relative;
  min-height: 1px;
  margin-top: 2%;
  margin-bottom: 5%;
	border-radius: 50%; /* Borde redondeado */
	box-shadow: 0px 0px 2px #000; /* Sombra */
	padding:0;
	border:0;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.evento:hover{
	box-shadow: 0; /* Con esto eliminamos la sombra */
	border-radius: 0; /* Con esto eliminamos el borde redondeado */
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	cursor:pointer;
}

.nombreEvento{
  font-size: 24px;
  text-align: center;
}

.textoEvento{
  font-size: 16px;
}

.lugarEvento{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.fechaEvento{
  text-align: center;
  font-style: italic;
}

.contenidoEvento{
  text-align: justify;
  color: #000 !important;
}

.izquierda{
	float: right;
	padding: 14;
}

.inicioSesion{
	float:right;
}

.divInicioSesion{
	display: block;
  margin: 0 auto;
  width: 90%;
}

.buscarEventos{
	width: 35%;
  float: right;
}

.linkEventos{
	color:black;
}
.linkEventos:hover{
	color:black;
	text-decoration: none;
}

.eventoCompletoImg{
	width: 100%;
	display: block;
	margin: 0 auto;
	float: none;
}

.lugarEventoEtiqueta{
	display: inline !important;
}

.ayudaEsconder{
	display: none;
}

.ayudaMostrar{
	display: inline !important;
  font-size: 10px !important;

}

.editarPerfil{
	margin-right: 1%;
}

.alertas{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.form-horizontal .has-feedback .form-control-feedback{
  right: 0;
}

.imagenUsuario{
	max-width: 355px;
	max-height: 200px;
}

.botonesPerfil{
	margin-bottom: 2%;
}

.gestionarEventos{
	float: right;
	margin-right: 40%;
}

.btnGestionEvento{
	display: block;
  min-width: 250px;
	width: 40%;
	margin-bottom: 1%;
	margin-top: 1%;
}

.btnCrearEvento{
	margin-bottom: 2%;
}

textarea{
	resize: none;
}

.btnVolver{
  float:left;
}

.btnCrear{
  float: right;
}

fieldset{
  height: 200px;
  width: 100%;
  padding: 1%;
}

.contenidoFieldset{
  height:150px;
  overflow:auto;
}

.idEvento{
  display: none;
}

.balance{
  font-weight: bold;
}

.infoBalance{
  display: none;
}

.infoBalancei:hover + .infoBalance{
  display: inline;
  position: fixed;
  background-color: #FAFAFA;
  border-radius: 15px;
  font-size: 13px;
  width: 150px;
  padding: 10px;
}

.verBalanceDetallado{
  float: right;
}

.totalBalanceDetallado{
  font-weight: bold;
}

.consultarBeneficiosInfo{
  font-style: italic;
  font-size: 14px;
}

.consultarBeneficios{
  margin-top: 5%;
}

.btnCrearActividad{
  float: right;
}

.btnGestionarActividades{
  margin-right: 3%;
  margin-bottom: 3%;
}

@media (max-width: 768px){
  .btnGestionarActividades{
    margin-right: 3%;
    margin-bottom: 3%;
    display: block;
  }

	.navbar-default .navbar-nav > li > a {
		text-align: right;
	}


  .evento{
    display: block;
    width: 100%;
    float: inherit;
    margin: 0 auto;
		border-radius: 50%; /* Borde redondeado */
		box-shadow: 0px 0px 2px #000; /* Sombra */
		padding:0;
		border:0;
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
  }

	.evento:hover{
		box-shadow: 0; /* Con esto eliminamos la sombra */
		border-radius: 0; /* Con esto eliminamos el borde redondeado */
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
		cursor:pointer;
	}

  .nombreEvento{
    margin-left: 3%;

  }

  .textoEvento{
    font-size: 20px;
  }

  .contenidoEvento{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  p{
    margin-top: 4%;
  }

	.izquierda{
		margin: 0;
		float: inherit;
		padding: 0;
	}

	.has-feedback label ~ .form-control-feedback {
    top: 25px;
	}

	.divInicioSesion{
		width: 90%;
	}

	.buscarEventos{
		width: 80%;
		margin: 0 auto;
	}

	section{
		padding: 0 5% !important;
	}

	h1{
		font-size: 24px;
	}

	h2{
		font-size: 20px;
	}

	.usuario{
		margin: 0 auto;
		display: block;
	}

	.miCuenta{
		margin: 0 auto;
		width: 90%;
	}

	.editarPerfil{
		margin-right: 4%;
	}

	.botonesPerfil{
		margin-bottom: 8%;
	}

	.imagenUsuario{
		min-width: 100px;
		min-height: 100px;
	}

	.navbar-nav .open .dropdown-menu{
		text-align: right;
	}

	.gestionarEventos{
		margin-top: 5%;
		margin-left: -1%;
		float:none;
	}

	.btnGestionEvento{
		width: 100%;
		min-width: 250px;
		margin-bottom: 1%;
		margin-top: 1%;
	}

	.tituloGestionEvento{
		font-size: 14px;
	}

	.btnCrearEvento{
		margin-bottom: 5%;
	}
}
