.logo{
  width: 45px;
}

.navbar-brand{
  padding: 5 !important;
}

.usuario{
  padding-right: 10;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: transparent;
}

html{
  background-image: url(../img/background.png) !important;
  background-repeat: repeat-x repeat-y !important;
}

body{
  background-color: transparent;
}

section{
  padding: 0 16% !important;
}

.evento{
  width: 16.6667%;
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 2%;
	border-radius: 50%; /* Borde redondeado */
	box-shadow: 0px 0px 2px #000; /* Sombra */
	padding:0;
	border:0;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.evento:hover{
	box-shadow: 0; /* Con esto eliminamos la sombra */
	border-radius: 0; /* Con esto eliminamos el borde redondeado */
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	cursor:pointer;
}

.nombreEvento{
  font-size: 20px;
  margin-left: 18%;
}

.contenidoEvento{
  text-align: justify;
  margin-bottom: 3%;
}

.izquierda{
	float: right;
	padding: 14;
}

.inicioSesion{
	float:right;
}

.divInicioSesion{
	display: block;
  margin: 0 auto;
  width: 60%;
}

.buscarEventos{
	width: 35%;
}

.linkEventos{
	color:black;
}
.linkEventos:hover{
	color:black;
	text-decoration: none;
}

.eventoCompletoImg{
	width: 80%;
	display: block;
	margin: 0 auto;
	float: none;
}

.lugarEventoEtiqueta{
	display: inline !important;
}

.ayudaEsconder{
	display: none;
}

.ayudaMostrar{
	display: inline !important;
}

.editarPerfil{
	margin-right: 1%;
}

.alertas{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.form-horizontal .has-feedback .form-control-feedback{
  right: 0;
}

.imagenUsuario{
	max-width: 355px;
	max-height: 200px;
}

.botonesPerfil{
	margin-bottom: 2%;
}

.gestionarEventos{
	float: right;
	margin-right: 40%;
}

.btnGestionEvento{
	display: block;
  min-width: 250px;
	width: 40%;
	margin-bottom: 1%;
	margin-top: 1%;
}

.btnCrearEvento{
	margin-bottom: 2%;
}

textarea{
	resize: none;
}

.btnVolver{
  float:left;
}

.btnCrear{
  float: right;
}

fieldset{
  height: 200px;
  width: 100%;
  padding: 1%;
}

.contenidoFieldset{
  height:150px;
  overflow:auto;
}

.idEvento{
  display: none;
}

.balance{
  font-weight: bold;
}

.infoBalance{
  display: none;
}

.infoBalancei:hover + .infoBalance{
  display: inline;
  position: fixed;
  background-color: #FAFAFA;
  border-radius: 15px;
  font-size: 13px;
  width: 150px;
  padding: 10px;
}

.verBalanceDetallado{
  float: right;
}

.totalBalanceDetallado{
  font-weight: bold;
}

.consultarBeneficiosInfo{
  font-style: italic;
  font-size: 14px;
}

.consultarBeneficios{
  margin-top: 5%;
}

@media (max-width: 768px){
	.navbar-default .navbar-nav > li > a {
		text-align: right;
	}


  .evento{
    display: block;
    width: 80%;
    float: inherit;
    margin: 0 auto;
		border-radius: 50%; /* Borde redondeado */
		box-shadow: 0px 0px 2px #000; /* Sombra */
		padding:0;
		border:0;
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

	.evento:hover{
		box-shadow: 0; /* Con esto eliminamos la sombra */
		border-radius: 0; /* Con esto eliminamos el borde redondeado */
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
		cursor:pointer;
	}

  .nombreEvento{
    margin-left: 3%;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .textoEvento{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .contenidoEvento{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  p{
    margin-top: 4%;
  }

	.izquierda{
		margin: 0;
		float: inherit;
		padding: 0;
	}

	.has-feedback label ~ .form-control-feedback {
    top: 25px;
	}

	.divInicioSesion{
		width: 90%;
	}

	.buscarEventos{
		width: 80%;
		margin: 0 auto;
	}

	section{
		padding: 0 5% !important;
	}

	h1{
		font-size: 24px;
	}

	h2{
		font-size: 20px;
	}

	.usuario{
		margin: 0 auto;
		display: block;
	}

	.miCuenta{
		margin: 0 auto;
		width: 90%;
	}

	.editarPerfil{
		margin-right: 4%;
	}

	.botonesPerfil{
		margin-bottom: 8%;
	}

	.imagenUsuario{
		min-width: 100px;
		min-height: 100px;
	}

	.navbar-nav .open .dropdown-menu{
		text-align: right;
	}

	.gestionarEventos{
		margin-top: 5%;
		margin-left: -1%;
		float:none;
	}

	.btnGestionEvento{
		width: 100%;
		min-width: 250px;
		margin-bottom: 1%;
		margin-top: 1%;
	}

	.tituloGestionEvento{
		font-size: 14px;
	}

	.btnCrearEvento{
		margin-bottom: 5%;
	}
}
